body {
  background-color: rgb(5,5,5);
  font-family: 'Raleway', sans-serif;
  color: rgb(85,85,85);
  font-size: 10px;

}

h1 {
  font-size: 25px;
  font-weight: strong;
  color: black;
  font-family: 'Raleway', sans-serif;

}

h2 {
  font-size: 22px;
  font-weight: normal;
  color: black;
  opacity: 0.5;
}

p  {
  font-size: 15px;
  font-weight: normal;
  color: black;
  opacity: 0.7;
  padding-bottom: 0px;
  padding-top: 0px;
}

a {
 text-decoration: none;
}

a:visited {
 color: black;
}

li {
  display: list-item;
  list-style: none;
  padding-left: 0;
}

.profile-pic {
  border-radius: 2%;
  width: 100px;
  height: 100px;
  border: 3px solid black;
  padding: 4px;
}

.social-media-icons {
  font-size: 20px;
  opacity: 0.9;
}

.social-media-icons:hover {
  color: rgb(150,150,150);
  opacity: 0.5;
}

.list-inline {
  display: inline-block;
  padding: 0px 20px;
  padding-left: 0px;
}

.recipe-photo-square {
  width: 240px;
  border-radius: 2%
  margin: 5px;
  border: solid black;
}

.caption {
  font-size: 20px;
  font-weight: strong;
  color: black;
  opacity: 0.8;
  text-align: justify;
}

.caption:hover {
  opacity: 0.5;
}

.caption:visited {
  opacity: 0.4;
}

.container-narrow {
  width: 500px;
  margin: 0 auto;
  background-color: #000000;
}

.card {
  background-color: #FFFFFF;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 5px rgb(85,85,85);
  margin: 5px ;
  border-radius: 2px
}

.center {
  text-align: center;
  padding-left: 0px;
}


